<!doctype html>
<html lang="ru">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">

    <title>All cars</title>
</head>

<body id="body">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="/cars/allcars">Редактирование</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cars/carinfo">История</a>
        </li>
    </ul>

    @RenderBody()
</body>

</html>

